
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />



  <title>Document</title>
</head>
<body class="respond" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" screen_capture_injected="true" data-new-gr-c-s-check-loaded="14.1016.0" data-gr-ext-installed="">
    <!-- pre-header -->
    <table style="display:none!important;">
        <tbody><tr>
            <td>
                <div style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;font-family:Arial;maxheight:0px;max-width:0px;opacity:0;">
                   Thankyou for subscribing!!!
                </div>
            </td>
        </tr>
    </tbody></table>
    <!-- pre-header end -->
    <!-- header -->
    <br>
    <br>

    <!-- big image section -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">

        <tbody><tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                    <tbody><tr>

                        <td align="center" class="section-img">
                            <a href="" style=" border-style: none !important; display: block; border: 0 !important;"><img src="{% static 'consub.png' %}" style="display: block; width: 590px;" width="590" border="0" alt=""></a>
                        </td>
                    </tr>
                    <tr>
                        <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" style="color: #343434; font-size: 24px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;" class="main-header">


                            <div style="line-height: 35px">

                                THANKYOU FOR <span style="color: #5caad2;">CONATCTING US!!</span>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td align="center">
                            <table border="0" width="40" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                                <tbody><tr>
                                    <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>

                    <tr>
                        <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td align="center">
                            <table border="0" width="400" align="center" cellpadding="0" cellspacing="0" class="container590">
                                <tbody><tr>
                                    <td align="center" style="color: #888888; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;">


                                        <div style="line-height: 24px">

                                            Winter is coming. Shop our latest AW16 range, and prepare for the damp, cold, British weather.
                                        </div>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>

                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td align="center">
                            <table border="0" align="center" width="160" cellpadding="0" cellspacing="0" bgcolor="5caad2" style="">

                                <tbody><tr>
                                    <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td align="center" style="color: #ffffff; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 26px;">


                                        <div style="line-height: 26px;">
                                            <a href="" style="color: #ffffff; text-decoration: none;">SHOP NOW</a>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                                </tr>

                               

                            </tbody></table>
                            <br>
                            <br>
                            <br>
                            <br>
                            <hr>

                            <center>
                                <img src="{% static 'logo.png' %}" alt="" width="130px">
                                <p><a style="color: rgb(0, 17, 255); text-decoration: none;" href="https://www.instagram.com/rekmends/"> <i class="fab fa-instagram white-text"> </i> Rekmends</a></p>
                               

                                
                            </center>
                            
                        </td>
                    </tr>


                </tbody></table>

            </td>
        </tr>

        <tr class="hide">
            <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
        </tr>
        <tr>
            <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
        </tr>



      

    </tbody></table>
    <!-- end section -->

    <!--  50% image -->
   

    <!-- end section -->

    <!-- end section -->

    <!-- end footer ====== -->

    
</body>

</html>



